{% extends 'base.html' %}

{% block content %}
  <h1>NEW</h1>
  <!--사용자의 입력 받아서 데이터 전송
  {% url 'articles:create' %} 사용할 수 있는 이유는
  url에서 name을 지정하였기 때문이다. 
  이름 지정 안했으면 articles/create...이런식으로 접근해야함  -->

  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}  
    <label for="title">Title: </label>
    <input type="text", id='title' name="title">    
    <label for="content">Content: </label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <input type="submit">  
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">back</a>
{% endblock %}
