{% extends 'base.html' %}
{% block title %}
✒Edit
{% endblock title %}

{% block content %}
<h1 class = "fw-bold text-center">EDIT</h1>
<form action=" {% url 'movies:update' movie.pk %}" method ="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label fw-bold">TITLE </label>
    <input type="text" class="form-control" id="title" name = "title" value = {{ movie.title }}>
  </div>
  <div class="mb-3">
    <label for="overview" class="form-label fw-bold">Overview</label>
    <textarea name="overview" id="overview" cols="30" rows="10" class="form-control">{{movie.overview}}</textarea>
  </div>
    <label for="poster_path" class="form-label fw-bold">Poster Path </label>
    <input type="text" class="form-control" id="poster_path" name = "poster_path" value = {{movie.poster_path}}>
    <br>
  <button type="submit" class="btn btn-success">수정</button>
</form>

{% endblock content %}