{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<form action=" {% url 'movies:create' %}" method ="POST">
    {% csrf_token %}
    <div>
        <label for="title">TITLE: </label>
        <input type="text" id = 'title' name = 'title'>    
    </div>
    <div>
        <label for="overview">Overview: </label>
        <textarea name="overview" id="overview" cols="30" rows="10"></textarea>
    </div>
        <div>
        <label for="poster_path">Poster path: </label>
        <input type="text" id = 'poster_path' name = 'poster_path'>    
    </div>
    <input type="submit" value="제출">
</form>
{% endblock content %}