{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>
      <b>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></b>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
      <form class="like-form" data-id="{{ article.pk }}">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          <button class="btn btn-link">
            <i id="like-{{ article.pk }}" class="fas fa-heart fa-lg" style="color:crimson"></i>
          </button>
        {% else %}
          <button class="btn btn-link">
            <i id="like-{{ article.pk }}" class="fas fa-heart fa-lg" style="color:black"></i>
          </button>
        {% endif %}
      </form>
    </div>
    <p>
      <span id="like-count-{{ article.pk }}">
      {{ article.like_users.all|length }}
      </span>
      명이 이 글을 좋아합니다.
    </p>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    const forms = document.querySelectorAll('.like-form')
    forms.forEach (form =>{ // 각각의 form 마다
      // console.log(form)
      // axios.get('http:/127.0.0.1/articles/') // 이것도 요소의 개수 만큼 (20)번 실행된다
      form.addEventListener('submit', function (event) { // event는 
        event.preventDefault() // html 기본동작 끄기 
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        //console.log(csrftoken)
        const articleId = event.target.dataset.id
        axios.post(`http://127.0.0.1:8000/articles/${articleId}/likes/`, {}, {
          headers:{'X-CSRFToken': csrftoken}
          }) // axios- 비동기 함수를 순차적으로 사용하기 위해 ... 비동기 통신을 할 수 있는 라이브러리 
          // ajax - 비동기 통신.. 그 통신을 하는 방법중 하나가 axios (라이브러리)
          // xhr - 도구..비동기 통신을 할때 사용하는ㄴ 것들... 
        .then(function(response){ // 여기 response가 promise객체
          console.log(response)
          console.log(response.data)
          // const count = response.data.count
          // const liked = response.data.liked
          const {count, liked} = response.data

          const likeIconColor = document.querySelector(`#like-${articleId}`) // 좋아요 버튼 찾아오기
          if (liked) {
            likeIconColor.style.color = 'crimson'
          } else {
            likeIconColor.style.color = 'black'
          }
          // likeButton.innerText = liked ? '좋아요 취소' : '좋아요'

          const likeCount = document.querySelector(`#like-count-${articleId}`)
          likeCount.innerText = count
        })

        .catch((err) =>{
          if (err.response.status === 401){
            window.location.href = '/accounts/login/'
          }
        })


      })
    })
  </script>
  
  {% endblock %}
