<h1> {{ person.username }}님의 팔로우/팔로잉 정보</h1>


<div class="jumbotron text-center text-white bg-dark">
    <p class="lead mb-1">작성자 정보</p>
    <h1 class="display-4">{{ person.username }}</h1>
    <p class="lead">팔로잉: {{ person.followings.all|length}}/ 팔로워: {{person.followers.all|length}}</p>


    {% if request.user != person %} <!-- 스스로는 팔로우 할 수 없음-->
        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
            {% csrf_token %}
        {% if request.user in person.followers.all %}
            <button class="btn-secondary btn-lg">Unfollow</button>
        {% else %}
            <button class ="btn-primary btn-lg">follow</button>
        
        {% endif %}
        </form>


    {% endif %}
</div>