<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .completed {
        text-decoration: line-through;
        color: gray;
      }
      /*  */
    </style>
</head>
<body>
  <div id="app">
    <select v-model="status">
      <option value="all">전체</option>
      <option value="inProgress">진행중</option>
      <option value="completed">완료</option>
    </select>

    <!-- enter 쳐도 addTodo실행 / 버튼 눌러도 addTodo가 실행된다. -->
    <input v-model="content" @keyup.enter="addTodo" type="text">
    <button @click="addTodo">+</button>
    <br>
    <ul>
      <!-- key는 db에서 pk와 같은 역할을 한다. -->
      <li v-for="todo in todoListByStatus" :key="todo.date"> 
        <input type="checkbox" :checked="todo.completed" @click="toggleTodo(todo)">
        
        <span :class="{ completed: todo.completed }">{{ todo.content }}</span>
      </li>
    </ul>
    <button @click="deleteCompleted">완료된 할일 지우기</button>
  </div>

  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- lodash CDN -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script>
    // local storage
    const STORAGE_KEY = 'vue-todo-app'
    const todoStorage = {
      fetch: function(){ // 데이터 불러오기
        return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
      },
      save: function(todoList) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todoList))
      },
    }

    const app = new Vue({
      el: '#app',
      data: {
        content: '',
        todoList: todoStorage.fetch(),
        status: 'all',
      },
      methods: {
        addTodo: function() {
          const todo = {
            // this.content를 이용해서 32번줄의 content불러오고 이건 12번줄의 v-model로 연결
            content: this.content, // 할 일
            completed: false, // 완료 여부
            date: new Date().getTime(), // PK로 활용
          }
          this.todoList.push(todo)
          this.content = ''

        },
        toggleTodo: function (todo) {
          todo.completed = !todo.completed // true <-> false 뒤집기
        },
        deleteCompleted: function() {
          this.todoList = this.todoList.filter(todo => !todo.completed)
          // todo리스트에 필터를 걸어서 todo를 걸어서 완료되지 않은 애들에 해당하는 것들만
          // todo completed가 false 인 것만 todolist에 남기기 
        }
      },
      // computed 사용하면 매번 함수를 돌지 않기 때문에 효율이 올라간다. 
      computed: {
        todoListByStatus: function () {
          return this.todoList.filter(todo => {
            if (this.status === 'inProgress') {
              return !todo.completed // 해야할 일들(todo.completed -> false)에 해당하는 것만 모아서 리스트로 만듬
            }
            if (this.status === 'completed') { // 완료된 일 (todo.completed -> true)
              return todo.completed
            }
            return true
          })
        }
      },
      // storate
      // todoStorage.save에서 todoList를 감시하고 있다가, 얘가 변하면 
      watch: {
        todoList: {
          handler: function(todoList) {
            todoStorage.save(todoList)
          },
          deep: true,
        }
      }
    })
  </script>
</body>
</html>